<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>CityDetails</servlet-name>
        <servlet-class>reivax.norac.website.service.CityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityDetails</servlet-name>
        <url-pattern>/CityDetails</url-pattern>
    </servlet-mapping>
</web-app>